<% provide(:title, "About") %>
<div class="mainCont">
    
    
    <%= image_tag("foot.jpg", alt: "Welcome Logo", :class => "welcomeIm") %>


        <h1>Who Are We?</h1>

        <p>This section will display all members of our team allow with admin staff who take very good care of our site.</p>



</div>


