
<% provide(:title, "Home") %>


<div class="mainCont">
    
    
   
       
    <h1>Home</h1>
        <p>Welcome to the Phone Shop</p>
        <br> <%= image_tag("headsec.jpg", alt: "Welcome Logo", :class => "welcomeIm") %>
        <br>
        <p>This wil be te static_pages homepage text where you can find out all about our AMAZING offers, featured products, and fantastic up to date news and information on all new and upcoming devises hitting the market in 2019. </p>
        <br>
        <br>


     
        <p>Click the button to reveal a your prize!!!</p>
        <button onclick="myExample()">Good Luck</button>
        <p id="demo"></p>

    
    
        <br>
      <br>
         <p>Click the button below to test the pages scripts. </p>
        <button onclick="myExampleTwo()">Test Script</button>
        <p id="demo"></p>
        
        
        
</div>